In [18]:
filename="BTCUSDT-hourly-historical-price.csv"

In [21]:
import numpy as np
import tensorflow as tf
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, mean_absolute_error
from keras.models import Sequential
from keras.layers import  Dense, BatchNormalization, Dropout

In [34]:
df=pd.read_csv(filename,index_col=0,usecols=[i for i in range(11)])
df

,open,high,low,close,volume,close_time,qav,num_trades,taker_base_vol,taker_quote_vol
2017-08-17 04:00:00.000,4261.48,4313.62,4261.32,4308.83,47.181009,1502945999999,202366.138393,171,35.160503,150952.477943
2017-08-17 05:00:00.000,4308.83,4328.69,4291.37,4315.32,23.234916,1502949599999,100304.823567,102,21.448071,92608.279728
2017-08-17 06:00:00.000,4330.29,4345.45,4309.37,4324.35,7.229691,1502953199999,31282.312670,36,4.802861,20795.317224
2017-08-17 07:00:00.000,4316.62,4349.99,4287.41,4349.99,4.443249,1502956799999,19241.058300,25,2.602292,11291.347015
2017-08-17 08:00:00.000,4333.32,4377.85,4333.32,4360.69,0.972807,1502960399999,4239.503586,28,0.814655,3552.746817
...,...,...,...,...,...,...,...,...,...,...
2022-05-31 19:00:00,4503.00,4619.47,4488.33,4619.43,43.862768,1504713600000,199660.763882,441,29.557031,134755.081987
2022-05-31 20:00:00,4503.00,4619.47,4488.33,4619.43,43.862768,1504713600000,199660.763882,441,29.557031,134755.081987
2022-05-31 21:00:00,4503.00,4619.47,4488.33,4619.43,43.862768,1504713600000,199660.763882,441,29.557031,134755.081987
2022-05-31 22:00:00,4503.00,4619.47,4488.33,4619.43,43.862768,1504713600000,199660.763882,441,29.557031,134755.081987
2022-05-31 23:00:00,4503.00,4619.47,4488.33,4619.43,43.862768,1504713600000,199660.763882,441,29.557031,134755.081987

In [35]:


# Generate example ternary classification datas
np.random.seed(42)
X = df
y = np.random.randint(0, 3, size=(len(df),))  # Three classes

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define the LSTM classification model for ternary classification
model = Sequential()
model.add(LSTM(units=50, input_shape=(X_train.shape[1], X_train.shape[2])))
model.add(Dense(units=3, activation='softmax'))  # Three classes, using softmax activation
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=32, verbose=2)

# Make predictions
y_pred_proba = model.predict(X_test)
y_pred = np.argmax(y_pred_proba, axis=1)  # Convert probabilities to class predictions

# Evaluate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

# Evaluate MAE (for demonstration purposes, not a typical classification metric)
mae = mean_absolute_error(y_test, y_pred)
print(f"MAE: {mae}")

# Evaluate MAPE (for demonstration purposes, not standard for classification)
mape = np.mean(np.abs((y_test - y_pred) / y_test)) * 100
print(f"MAPE: {mape}%")

# Display some predictions
print("Sample Predictions:")
for i in range(5):
    print(f"True: {y_test[i]}, Predicted: {y_pred[i]}, Probabilities: {y_pred_proba[i]}")

IndexError: tuple index out of range

In [17]:
from keras.models import Sequential
# from keras.layers import CuDNNLSTM, Dense, BatchNormalization, Dropout
import numpy as np

# Define the model
model = Sequential()
model.add(CuDNNLSTM(32, input_shape=(n_steps, n_features)))
model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mean_squared_error')

# Generate some dummy data
n_samples, n_steps, n_features = 1000, 10, 1
X = np.random.rand(n_samples, n_steps, n_features)
y = np.random.rand(n_samples, 1)

# Fit the model
model.fit(X, y, epochs=100, batch_size=32, verbose=1)

ImportError: cannot import name 'CuDNNLSTM' from 'keras.layers' (/home/mahandeep/.local/lib/python3.10/site-packages/keras/layers/__init__.py)